<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <title>Document</title>
    <title>Document</title>
</head>
<style>
.welcome-text{
font-size: 28px;

}




</style>





<body>
    <div class="container-fluid"
    style="background-color:whitesmoke;">
    <div class="row">
        <div class="row">

    <%- include('header.ejs')%>

    </div>
    </div>
    


    <div class="container mt-5">
        <div class="row">
            <div class="col-3">
    <%- include('leftmenu.ejs')%>
    </div>
    
    <div class="col-9 welcome-text">
        <p style="justify-content: center; align-items: center;">
        Welcome to admin pannel
        </p>
    </div>
    </div>
    </div>


    
</body>
</html>