<!-- listing design -->
<style>
ul li{
list-style: none;
padding: 10px;
}

ul li a{
text-decoration: none;
font-weight: 500;
color: black;
}
</style>

<ul class="text-center">
    <li><a href="/addpackage">Book Package</a></li>
    <li><a href="/viewpackage">View Package</a></li>
    <li><a href="/viewregisteration">View Registration</a></li>

</ul>





