<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./asserts/css/aboutus.css">
    <title>Document</title>
</head>
<body>
    <%- include('./common/header.ejs')%>
 <div class="container-fluid rat">
<h1><b>Welcome to Tour.er </b></h1>

<p>At Tour.er, we believe that travel is not just about visiting new places, but about 
creating unforgettable experiences. With a passion for exploration and a commitment to excellence, 
we strive to provide our customers with the journey of a lifetime.<br><br>

<h1>Our Story</h1>

Founded in 2003, Tour.er has been dedicated to delivering exceptional travel experiences from the very beginning. What started as a small venture has grown into a trusted name in the travel industry, with a reputation for quality, reliability, and personalized service.<br><br>

<h1>Our Mission</h1>

Our mission at Tour.er is to inspire and empower travelers to discover the world with confidence and curiosity. We are committed to creating meaningful connections, fostering cultural understanding, and promoting sustainable tourism practices.<br><br>

<h1>Meet Our Team</h1>

Behind every great travel experience is a dedicated team of professionals who are passionate about what they do. Get to know the faces behind [Your Company Name] and discover the expertise and enthusiasm that drives us forward.<br><br>

AYUSH THAPA - Founder & CEO
YASH- Tour Manager
TOUR- Customer Service Representative
What Sets Us Apart

At Tour.er, we understand that every traveler is unique. That's why we offer a wide range of customizable tour packages, designed to suit individual preferences and interests. From adventurous expeditions to cultural immersions, we have something for everyone.<br><br>

<h1>Customer Satisfaction Guaranteed</h1>

We are committed to exceeding our customers' expectations at every turn. With attentive service, expert guidance, and attention to detail, we strive to ensure that every aspect of your journey is seamless and memorable. But don't just take our word for it – hear what our satisfied customers have to say.<br><br>

<h1>Get in Touch</h1>

Ready to embark on your next adventure? Contact us today to start planning your dream vacation. Our team of travel experts is here to assist you every step of the way.






</p>
</div>  
</body>

</html>