<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="./asserts/css/main.css">
    <link rel="stylesheet" href="./asserts/css/signup.css">
</head>

<body>
    <!-- include for header file-->
    <div class="container-fluid">
        <div class="row"><%- include('./common/header.ejs') %></div>
    </div>
    <div class="container">
        <div class="row justify-content-center p-5">
            <form class="register" method="post" action="/signup">
                <h3 class="text-center">Register Yourself</h3>
                <label for="first_name">First Name: </label>
                <input type="text" name="f_name" id="f_name" placeholder="first name" required>

                <label for="last_name">Last Name: </label>
                <input type="text" name="l_name" id="l_name" placeholder="last name" required>

                <label for="birth_date">Date Of Birth</label>
                <input type="date" name="dob" id="date" required>

                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="email" required>

                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="password" required>

                <label for="conform_password">Confirm Password</label>
                <input type="password" name="confirm_password" id="conform_password" placeholder="conform password"
                    required>

                <button class="btn btn-outline-primary" type="submit">Book Now</button>
            </form>
        </div>
    </div>

</body>

</html>